.menu {list-style: none;
    
}

.menu__item {
    display: inline-block;
    width: 150px;
}

.submenu {
    position: absolute;
    background-color: rgb(175, 107, 240);
    width: 150px;
    display: none;
    

}

.com-submenu:hover .submenu {
    display: block;
}